*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(18, 18, 63);
}


nav{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    height: 85px;
    background-color: rgb(79, 79, 189);
    
}
nav ul li{
    list-style: none;
    margin: 0 20px;
    font: 1.5rem;
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}


nav .leftSection{
        margin: 0 -20px;
        font-size: 1.5rem;

}

nav ul li:hover{
    color: rgb(49, 49, 126);
}


.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 137px 0;
}




main .leftSection{
    width: 30%;
    font-size: 3.0rem;
    padding: 106px 0px;
    
}

main .rightSection{
    width: 40%;
    padding: 0;
    margin: 0;
    
}




main img{
    width: 525px;
    margin: 0 168px;

}

.purple{
    color: rgb(132, 0, 255);
}

#element{
    color: rgb(132, 0, 255);

}

 main .line{
background-color:rgb(72, 72, 128);
    height: 100vh;
}



