body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(18, 18, 63);
}


nav{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    height: 85px;
    background-color: rgb(79, 79, 189);
    
}
nav ul li{
    list-style: none;
    margin: 0 20px;
    font: 1.5rem;
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}


nav .leftSection{
        margin: 0 -20px;
        font-size: 1.5rem;

}

nav ul li:hover{
    color: rgb(49, 49, 126);
}


.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 137px 0;
}




main .leftSection{
    width: 30%;
    font-size: 3.0rem;
    padding: 106px 0px;
    
}

main .rightSection{
    width: 40%;
    padding: 0;
    margin: 0;
    
}




main img{
    width: 500px;
    margin: 0 168px;

}

.purple{
    color: rgb(132, 0, 255);
}

#element{
    color: rgb(132, 0, 255);

}

main .line{
    border: none;
    height: 1.2px;
    background-color: #7676c7;
    margin: 40px 86px;
}
.secondSection .grey{
    color: grey;
    margin: 0;
}


.secondSection{
    font-size: 1.2rem;
    padding: 0 116px;
    height: 80vh;


}
.secondSection .first{
    height: 2px;
    display: flex;
    width: 80vw;
    background-color: white;
    margin: 64px 4px;
}

.secondSection .line{
    background-color: white;
    width: 1px;
    height: 93px;
    margin: 0 120px;
    
}

.secondSection .vertical-title{
    margin: 95px -20px;
    
    
}

.secondSection .desc{
    display: flex;
    color: grey;
    font-size: small;
    width: 150px;
    margin: -81px -25px;
}

.secondSection .img-top{
    width: 10px;
    position: relative;
    top: -31px;
    left: -171px;
}


footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-around;
    background-color: rgb(58, 58, 134);
}

footer ul{
    list-style: none;
}

footer .left{
    font-size: larger;
    width: 223px;
}

footer .rights{
    display: flex;
    text-align: center;
    color: grey;
    padding: 92px 0;
}


footer ul li:hover{
    color: rgb(46, 46, 127);
}

footer ul li{
    cursor: pointer;
}


